CarVoter/SampleData/carData/carData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.carData" targetNamespace="Blend.SampleData.carData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="carData" type="tns:carData" />
  <xs:complexType name="carData">
    <xs:sequence>
      <xs:element name="Collection" type="tns:Collection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Collection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CollectionItem" type="tns:CollectionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CollectionItem">
    <xs:attribute blend:FormatParameters="15,8" name="Description" type="xs:string" />
    <xs:attribute name="Image" type="tns:Basic-Image" />
    <xs:attribute name="kiloWatts" type="xs:double" />
    <xs:attribute name="NumDownVotes" type="xs:double" />
    <xs:attribute name="NumUpVotes" type="xs:double" />
    <xs:attribute name="Title" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>